.banner__titulo {
    padding: 4.6em 0;
    display: block;
}

.texto__sobre {
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 600;
    color: var(--cor-terciaria);
    display: flex;
    justify-content: center;
}

.texto__titulo {
    font-family: var(--fonte-principal);
    font-size: 48px;
    font-weight: 600;
    color: #000000;
    padding: 1em 0;
    display: flex;
    justify-content: center;
}

.texto__descrição {
    font-family: var(--fonte-principal);
    font-size: 20px;
    font-weight: 400;
    color: var(--cor-quartenaria);
    margin: 0 14.5em;
    display: flex;
    justify-content: center;
    text-align: center;
}