.footer {
    display: block;
    margin: 10em 0;
}

.title-footer {
    display: flex;
    justify-content: center;
    font-family: var(--fonte-principal);
    font-size: 36px;
    font-weight: 600;
    color: #000000;
}

.describe-footer {
    display: flex;
    justify-content: center;
    font-family: var(--fonte-principal);
    font-size: 20px;
    font-weight: 400;
    color: var(--cor-secundaria);
    padding: 2em 0;
}

.buttons-footer {
    display: flex;
    justify-content: center;
}

.input-footer {
    background-color: transparent;
    border: 1px solid var(--cor-secundaria);
    color: var(--branco);
    border-radius: 10px;
    padding: 0 7em 0 1em;
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}

.button-footer {
    text-decoration: none;
    border: 1px solid var(--cor-terciaria);
    border-radius: 10px;
    padding: 0.75em;
    background: var(--cor-terciaria);
    color: var(--cor-principal);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 500;
    margin: 0 1em;
}

.describe-footer-end {
    display: flex;
    justify-content: center;
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
    color: var(--cor-secundaria);
    padding: 2em 0;
}