.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 2em 0;
}

.header-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.header-logo {
    padding-left: 5em;
}

.header-title {
    font-family: var(--fonte-principal);
    font-size: 18px;
    font-weight: 500;
    color: var(--cor-quartenaria);
    padding-left: 0.5em;
}

.lists {
    display: flex;
    justify-content: center;
}

.list {
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 500;
    color: var(--cor-secundaria);
    padding: 0 1em;
}

.header-buttons {
    display: flex;
    justify-content: flex-end;
}

.button-enter {
    margin-right: 0.5em;
    text-decoration: none;
    border: 1px solid var(--cor-principal);
    border-radius: 10px;
    padding: 0.75em;
    background: var(--cor-principal);
    color: var(--cor-quartenaria);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 500;
}

.button-register {
    margin-right: 5em;
    text-decoration: none;
    border: 1px solid var(--cor-terciaria);
    border-radius: 10px;
    padding: 0.75em;
    background: var(--cor-terciaria);
    color: var(--cor-principal);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 500;
}