.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 2em 0;
}

.header-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.header-logo {
    padding-left: 5em;
}

.header-title {
    font-family: var(--soucer-first);
    font-size: 18px;
    font-weight: 500;
    color: var(--color-fourth);
    padding-left: 0.5em;
}

.lists {
    display: flex;
    justify-content: center;
    list-style: none; /* Remoção de bullets das listas */
    padding: 0; /* Remove o padding padrão */
    margin: 0; /* Remove a margem padrão */
}

.list {
    font-family: var(--soucer-first);
    font-size: 16px;
    font-weight: 500;
    color: var(--color-second);
    padding: 0 1em;
    text-decoration: none;
    cursor: pointer;
}

.header-buttons {
    display: flex;
    justify-content: flex-end;
}

.button-enter,
.button-register {
    text-decoration: none;
    border-radius: 10px;
    padding: 0.75em;
    font-family: var(--soucer-first);
    font-size: 16px;
    font-weight: 500;
    transition: background 0.3s ease; /* Adiciona transição suave */
}

.button-enter {
    margin-right: 0.5em;
    border: 1px solid var(--color-first);
    background: var(--color-first);
    color: var(--color-fourth);
}

.button-enter:hover {
    background: darken(var(--color-first), 10%); /* Exemplo de efeito hover */
}

.button-register {
    margin-right: 5em;
    border: 1px solid var(--color-third);
    background: var(--color-third);
    color: var(--color-first);
}

.button-register:hover {
    border-color: var(--color-fifth);
    color: var(--color-third);
    background: var(--color-fifth);
}

a:hover {
    color: var(--color-third);  
}

@media  screen and (max-width: 767px) {
    .header {
        height: 100%;
        padding: 1em 0;
        display: flex;
        justify-content: center;
    }
}