.banner__informativo {
    display: flex;
    justify-content: space-around;
    margin: 1em 5em;
}

.container {
    margin: 0 1.05em;
}
.titulo__projeto {
    font-family: var(--fonte-principal);
    font-size: 60px;
    font-weight: 600;
    color: var(--cor-terciaria);
    align-items: end;
    padding-right: 2em;
}

.titulo__texto {
    font-family: var(--fonte-principal);
    font-size: 18px;
    font-weight: 500;
    color: #000000;
    padding: 1em 0;
}

.texto__projeto {
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
    color: var(--cor-quartenaria);
}