.register {
    background-color: var(--color-third);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: var(--soucer-first);
}

.card {
    background-color: rgb(247 246 246);
    padding: 40px;
    border-radius: 10px;
    width:580px;
    height: 580px;
}

.card-header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
    opacity: 0.8;
    color: var(--color-black);
}

.card-header::after {
    content: "";
    width: 70px;
    height: 1px;
    display: block;
    margin-top: -17px;
    margin-left: -5px;
}

.header-logo-register {
    margin: 0 10px;
}

.register-title {
    font-size: 28px;
    font-weight: 600;
    padding-left: 10px;
}

.card-content label {
    display: flex;
    justify-content: center;
    color: var(--color-black);
    font-size: 16px;
    opacity: 0.8;
}

.card-content-area {
    display: flex;
    justify-content: flex-start;
}

.birth {
    display: block;
}

.card-content-area, .card-content-address, input {
    border-color: rgba(253, 253, 253, 0.699);
    border-width: 1px;
    border-radius: 0.25rem;
    color: var(--cor-primary);
    padding: 0.5em 0;
}

input {
    margin-right: 1em;
}

.address {
    flex-wrap: wrap;
}

.card-footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-footer .submit{
    width: 50%;
    height: 40px;
    background-color: var(--color-third);
    border-radius: 10px;
    border: none;
    border-color: var(--color-third);
    color: #e1e1e1;
    margin: 60px 0;
}

.submit:hover {
    box-shadow: 0 0 30px var(--color-third), 
                0 0 60px var(--color-third), 
                0 0 90px var(--color-third), 
                0 0 120px var(--color-third);
}

.card-footer a {
    text-align: center;
    font-size: 12px;
    opacity: 0.8;
    color: var(--color-black);
    text-decoration: none;
}