
/* Import fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

/* Import style */
@import url('./header.css');
@import url('./main.css');
@import url('./footer.css');


:root {
    --cor-principal: #ffffff;
    --cor-secundaria: #667085;
    --cor-terciaria: #8E2424;
    --cor-quartenaria: #3A404E;
    --cor-quinternaria: rgba(142, 36, 36, 0.05);
    --cor-sextanaria: #EAECF0;
    --fonte-principal: 'Inter', sans-serif;
}
